.section {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: white;
  width: 100%;
  height: auto;

  margin-top: 60px;

  .section-wrapper {
    position: relative;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.inner-section-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  position: relative;

  .content-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.content-header {
  display: flex;
  align-items: center;

  .content-title {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
      color: black;
      font-weight: 600;
      font-size: 26pt;
      margin-bottom: 10px;
      line-height: 35pt;
    }

    h2 {
      color: black;
      font-weight: 400;
      line-height: 10pt;
      padding-left: 2px;
      font-size: 12pt;
      margin-bottom: -2px;
    }
  }

  .content-marker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    .inner-content-marker {
      display: flex;
      flex-direction: row;

      div {
        width: 55px;
        min-width: 55px;
        min-height: 5px;
        max-height: 5px;
        background-color: #F1F1F1;
        cursor: pointer;
      }
    }
  }
}

.content-carousel {
  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  padding: 0;
  z-index: 1;

  .carousel {
    position: relative;
    display: flex;

    width: 100%;
    height: 620.25px;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
  }
}

.product {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;

  width: 338.75px;
  margin-right: 15px;

  text-align: center;
  font-size: 18px;
  background: #fff;

  height: 100%;
  transition: all 0.3s;

  .product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;

    a {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      cursor: pointer;
      height: fit-content;
      width: 100%;
      min-height: 200px;
      color: #000;
      text-decoration: none;
      user-select: none;
    }
  }
}

.product-image {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto;
  width: 100%;
  background-color: white;
  cursor: pointer;

  .product-image-wrapper {
    position: relative;

    background-color: white;
    width: 100%;
    height: 100%;

    .inner-wrapper {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #F1F1F1;

      width: 100%;
      height: auto;

      padding-top: 140%;

      user-select: none;
      transition: opacity 125ms ease-out, background-color 125ms ease-out;

      .container-wrapper {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        picture {
          width: 100%;
          height: 100%;
          background-color: #C6C6C6;
          overflow: hidden;
          box-shadow: unset;

          img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            max-width: 100%;
            height: 100%;
            pointer-events: none;
            user-select: none;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.product-information {
  position: relative;

  text-align: start;

  color: #000;
  background-color: white;

  width: 100%;

  margin-top: 10px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;

  cursor: pointer;
  user-select: none;

  div {
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &:nth-child(n + 2) {
      margin-top: 10px;
    }
  }

  .view {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    color: #000;
    text-decoration: none;
    height: 50px;

    span {
      align-self: flex-start;
      margin-top: 5px;

      width: auto;
      height: auto;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      border-bottom: 2px solid #ABABAB;
    }
  }
}