.backdrop {
  position: fixed;
  inset: 0;

  backdrop-filter: blur(4px);
  background-color: hsl(240 10% 3.9% / .8);

  z-index: 50;

  &[data-state=open] {
    animation: enter 0.15s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  &[data-state=closed] {
    animation: exit 0.15s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  @keyframes enter {
    0% {
      opacity: 0;
    }
  }

  @keyframes exit {
    100% {
      opacity: 0;
    }
  }
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;

  display: grid;
  gap: 1rem;

  background-color: hsl(240 10% 3.9%);

  border-width: 1px;

  border-radius: 0.5rem;

  max-width: 425px;
  width: 100%;

  padding: 1.5rem;

  z-index: 50;

  transform: translate(-50%, -50%) scale(1);

  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .2s;

  &[data-state=open] {
    animation: enter-dialog 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state=closed] {
    animation: exit-dialog 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  }

  @keyframes enter-dialog {
    0% {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.95);
    }
  }

  @keyframes exit-dialog {
    100% {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.95);
    }
  }
}

.dialog-close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;

  border-radius: calc(0.5rem - 4px);

  cursor: pointer;

  opacity: .7;

  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  svg {
    width: 1rem;
    height: 1rem;
  }

  span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  &:hover {
    opacity: 1;
  }
}

.dialog-header {
  display: flex;
  flex-direction: column;
}

.dialog-title {
  color: #fafafa;
  letter-spacing: -.025em;

  font-size: 1.125rem;
  line-height: 1rem;
  font-weight: 600;
}

.dialog-description {
  color: hsl(240 5% 64.9%);
  margin-top: 6px;

  font-size: .875rem;
  line-height: 1.25rem;
}

.dialog-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dialog-trigger {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 2.5rem;

  color: hsl(240 5.9% 10%);
  background-color: hsl(0 0% 98% / .9);

  border-radius: calc(0.5rem - 2px);

  padding: 0.5rem 1rem;

  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 500;

  cursor: pointer;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }

  svg {
    display: block;
    vertical-align: middle;

    width: 1rem;
    height: 1rem;

    margin-right: 0.5rem;

    animation: spin 1s linear infinite;

    @keyframes spin {
      100% {
        transform: rotate(1turn);
      }
    }
  }
}