.account-layout {
  min-height: 100vh;
  background-color: hsl(240 10% 3.9%);
}

.content-layout {
  margin-left: auto;
  margin-right: auto;

  padding: 48px;
}

.inner-content-layout {
  display: flex;
  justify-content: center;

  height: 100%;

  gap: 20px;
}

.account-navigation-layout {
  //width: fit-content;
  max-width: 200px;
  width: 100%;

  .account-navigation {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    //margin-top: -8px;

    a {
      color: #a1a1a1;
      font-weight: 600;

      padding-top: 8px;
      padding-bottom: 8px;

      text-decoration: none;

      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: .2s;

      &[data-state=true] {
        color: #fafafa
      }

      &:hover {
        color: #fafafa
      }
    }
  }
}

.content-panel {
  flex: 1 1 0;

  form {
    padding-top: 8px;
  }
}

.input-section {
  margin-bottom: 28px;
  max-width: 40rem;

  &:last-child {
    margin-bottom: 48px;
  }

  label {
    color: #fafafa;

    font-weight: 500;
    font-size: .875rem;
    line-height: 1;
  }

  input {
    display: flex;

    color: #fafafa;
    background-color: hsl(240 10% 3.9%);

    border-width: 1px;
    border-color: hsl(240 3.7% 15.9%);

    border-radius: calc(0.5rem - 2px);

    width: 100%;
    height: 2.5rem;

    font-size: .875rem;
    line-height: 1.25rem;

    margin-top: 8px;
    padding: 0.5rem 0.75rem;

    &:focus-visible {
      outline: 2px solid transparent;
      outline-offset: 2px;

      box-shadow: 0 0 0 2px hsl(240 10% 3.9%), 0 0 0 4px hsl(240 3.7% 15.9%), 0 0 #0000;
    }

    &[type="file"] {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      max-width: 20rem;

      &::file-selector-button {
        color: inherit;
        background-color: transparent;
        border: 0;
        border-radius: calc(0.5rem - 4px);

        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600;

        &:hover {
          background-color: hsl(240 3.7% 15.9%)
        }
      }
    }
  }
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 1rem;

  input {
    display: flex;

    color: #fafafa;
    background-color: hsl(240 10% 3.9%);

    border-width: 1px;
    border-color: hsl(240 3.7% 15.9%);

    border-radius: calc(0.5rem - 2px);

    width: 100%;
    height: 2.5rem;

    font-size: .875rem;
    line-height: 1.25rem;

    margin-top: 8px;
    padding: 0.5rem 0.75rem;

    &:focus-visible {
      outline: 2px solid transparent;
      outline-offset: 2px;

      box-shadow: 0 0 0 2px hsl(240 10% 3.9%), 0 0 0 4px hsl(240 3.7% 15.9%), 0 0 #0000;
    }
  }
}
