@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  border: 0 solid hsl(240 3.7% 15.9%);
}

html,
body {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));

  min-height: 100vh;
  max-width: 100vw;
  font-family: "Roboto", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}
