.home {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  min-height: 100vh;
}

.navigation-bar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  width: calc(100vw - 17px);
  max-height: 100%;

  background-color: transparent;

  padding: 0.5em;

  z-index: 111;

  overflow-y: auto;
  scroll-behavior: smooth;

  .inner-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    border: 2px solid #000000;

    padding: 0.75rem 1.45rem 0.75rem 0.75rem;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  a {
    font-size: 2.9rem;
    font-weight: bold;
  }

  span {
    font-size: 1.35rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
}

.sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    gap: 0.5rem;

    list-style-type: none;

    li {
      cursor: pointer;
      text-align: center;
      font-weight: 600;
      font-size: 17px;

      a {
        width: fit-content;
        display: flex;

        text-decoration: none;

        color: black;
        background-color: transparent;

        margin: 8px 10px 8px 10px;
      }

      &:hover {
        a {
          margin: 8px 10px 4px 10px;
          padding-bottom: 2px;
          border-bottom: 2px solid black;
        }
      }

      &:last-child {
        margin-right: 15px;
      }
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .cart {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
      height: 34px;

      cursor: pointer;

      border: 2px solid black;
      margin-left: 0;
      border-left: none;
      font-weight: 600;
      font-family: Maax-Bold, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px 10px 6px 10px;
      line-height: 20px;
    }
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  height: fit-content;
  width: fit-content;
  min-height: 25px;
  //padding: 10px;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  //border-radius: 0.3rem;
  text-transform: uppercase;
  background-color: white;
  color: black;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  border: 2px solid black;
  -webkit-user-select: none;
  user-select: none;

  padding: 8px 10px 6px 10px;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    color: white;
    background-color: black;
  }
}

.header {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;

  .header-container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
    min-height: 400px;

    padding-bottom: 30px;
    margin: 0 auto;
  }
}

.poster-wrapper {
  min-height: 80vh;
  max-height: 80vh;
  border-bottom: 2px solid #000;

  width: 100%;
  display: flex;
  height: 100%;
  background-color: #0e2e51;
  position: relative;
  cursor: pointer;

  .poster {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    background-position: top center;
    background-size: cover;
    background-image: url(https://kodansha.us/656e13b65cde9d26150227e4ca96bfe8.png);
    background-attachment: fixed;
  }

  .colorize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 0.4;

    background-color: rgb(20, 191, 161);
  }
}

.info-card {
  max-width: 1400px;
  width: 90%;
  position: relative;
}

.info-card-wrapper {
  position: absolute;
  border: 2px solid #000;
  width: fit-content;
  left: 0;
  bottom: -50px;
  padding: 30px 20px;
  background-color: #fff;

  h1 {
    width: 100%;
    align-self: flex-start;
    font-size: 36pt;
    line-height: 55px;
    font-weight: bold;
    font-family: Maax-Bold, sans-serif;
  }

  h2 {
    width: 100%;
    font-size: 12pt;
    font-weight: 600;
    padding-left: 3px;
    text-transform: uppercase;
    margin-bottom: -1px;
  }

  div {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-right: auto;
    font-weight: 400;

    span {
      font-size: 16pt;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 400;
    }

    a {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      color: #000;
      text-decoration: none;

      span {
        margin-left: auto;

        align-items: center;
        width: 200px;
        font-size: 19px;
        min-width: unset;
        height: 40px;
        min-height: 40px;
        padding: 5px 10px 1px 10px !important;
        border: 2px solid #000;
        text-decoration: none;
      }

      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}

.section-1 {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: white;
  width: 100%;
  height: auto;

  margin-top: 60px;

  .section-wrapper {
    position: relative;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.inner-section-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  position: relative;

  .content-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.content-header {
  display: flex;
  align-items: center;

  .content-title {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
      color: black;
      font-weight: 600;
      font-size: 26pt;
      margin-bottom: 10px;
      line-height: 35pt;
    }

    h2 {
      color: black;
      font-weight: 400;
      line-height: 10pt;
      padding-left: 2px;
      font-size: 12pt;
      margin-bottom: -2px;
    }
  }

  .content-marker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    .inner-content-marker {
      display: flex;
      flex-direction: row;

      div {
        width: 55px;
        min-width: 55px;
        min-height: 5px;
        max-height: 5px;
        background-color: #F1F1F1;
        cursor: pointer;
      }
    }
  }
}

.content-carousel {
  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  padding: 0;
  z-index: 1;

  .carousel {
    position: relative;
    display: flex;

    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
  }
}

.product {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;

  width: 338.75px;
  margin-right: 15px;

  text-align: center;
  font-size: 18px;
  background: #fff;

  height: 100%;
  transition-property: transform;

  .product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;

    a {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      cursor: pointer;
      height: fit-content;
      width: 100%;
      min-height: 200px;
      color: #000;
      text-decoration: none;
      user-select: none;
    }
  }
}

.product-image {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto;
  width: 100%;
  background-color: white;
  cursor: pointer;

  .product-image-wrapper {
    position: relative;

    background-color: white;
    width: 100%;
    height: 100%;

    .inner-wrapper {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: #F1F1F1;

      width: 100%;
      height: auto;

      padding-top: 140%;

      user-select: none;
      transition: opacity 125ms ease-out, background-color 125ms ease-out;

      .container-wrapper {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        picture {
          width: 100%;
          height: 100%;
          background-color: #C6C6C6;
          overflow: hidden;
          box-shadow: unset;

          img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            max-width: 100%;
            height: 100%;
            pointer-events: none;
            user-select: none;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.product-information {
  position: relative;

  text-align: start;

  color: #000;
  background-color: white;

  width: 100%;

  margin-top: 10px;

  font-size: 22px;
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  line-height: 22px;

  cursor: pointer;
  user-select: none;

  div {
    &:nth-child(n + 2) {
      margin-top: 10px;
    }
  }

  .view {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    color: #000;
    text-decoration: none;
    height: 50px;

    span {
      align-self: flex-start;
      margin-top: 5px;

      width: auto;
      height: auto;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      border-bottom: 2px solid #ABABAB;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;

  background-color: black;

  width: 100%;
  margin: 100px auto 0 auto;
  padding: 0;

  .footer-wrapper {
    display: flex;
    flex-direction: column;

    color: white;
    background-color: black;

    width: 100%;
    max-width: 100%;
  }
}

.logo-wrapper {
  height: auto;
  width: 100%;

  padding-left: 20px;
  margin: 40px auto 0;

  svg {
    display: block;
    vertical-align: middle;
  }
}

.description {
  display: flex;

  height: auto;

  margin-top: 30px;
  padding-bottom: 100px;

  .about {
    display: flex;
    flex-direction: column;

    width: 55%;

    padding-left: 20px;

    h1 {
      width: 90%;

      margin-top: 30px;

      font-weight: bolder;
    }

    p {
      color: #d1d1d1;

      width: 90%;

      margin-top: 20px;
      margin-bottom: 1rem;
    }
  }
}

.info {
  display: flex;
  justify-content: center;

  width: 45%;
  max-width: 700px;

  margin: 40px 30px 0 auto;
}

.line {
  height: 2px;
  min-height: 2px;
  width: 100%;

  background-color: #757575;

  margin-top: 5px;
}

.info-1 {
  display: flex;
  flex-direction: column;

  color: white;

  width: fit-content;
  max-width: 300px;

  margin-left: auto;

  span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .info-link {
    display: flex;
    flex-direction: column;

    span {
      color: #fff;
      background-color: transparent;

      letter-spacing: 1px;
      font-size: 13px;
      line-height: 17px;
      font-weight: 400;

      margin-top: 15px;
      cursor: pointer;
    }
  }
}

.info-2 {
  display: flex;
  flex-direction: column;

  color: white;

  width: fit-content;
  max-width: 300px;

  margin: 0 auto;

  span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .info-link {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;

      color: #fff;
      background-color: transparent;

      line-height: 17px;
      font-size: 13px;

      margin-top: 15px;

      span {
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        cursor: pointer;
      }
    }
  }
}

.info-3 {
  display: flex;
  flex-direction: column;

  color: white;

  height: fit-content;
  width: fit-content;
  max-width: 300px;

  span {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;

    margin-top: 4px;

    svg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 19px;
      height: 19px;

      margin-top: 12px;

      cursor: pointer;

      vertical-align: middle;
    }
  }
}

.copy-right {
  margin-bottom: 40px;

  span {
    display: flex;

    color: #797979;

    width: 95%;

    padding-left: 20px;
  }
}