.home {
  display: flex;
  flex-direction: column;
  //overflow-x: hidden;
  align-items: center;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

.browse-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  min-height: 600px;
  padding-top: 120px;
  max-width: 1400px;

  header {
    font-size: 70px;
    line-height: 110px;
    font-weight: 700;
  }
}

.sub-nav {
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  a {
    color: #000;
    border-bottom: 3px solid #000;

    font-size: 35px;
    line-height: 52px;
    font-weight: 700;
    text-decoration: none;
  }
}

.filter-price-and-scale {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin-top: 20px;
}

.filter-price-and-scale-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;

  width: 50%;
}

.filter-p-and-s-dropdown {
  position: absolute;
  top: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  max-height: 135px;
  min-height: 40px;
  width: 100%;

  overflow-y: auto;

  background-color: white;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;

  z-index: 51;
  list-style: none;

  scroll-behavior: smooth;
  scrollbar-color: #000 transparent;
  scrollbar-width: thin;
  user-select: none;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
  }

  .filter-p-and-s-dropdown-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 0 10px;

    word-break: break-word;
    letter-spacing: 1px;

    list-style: none;

    li {
      position: relative;

      display: flex;
      flex-direction: row;
      align-items: center;

      padding-left: 30px;
      margin-bottom: 12px;

      font-size: 22px;

      min-height: 35px;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      label {
        display: flex;
        flex-direction: column;

        height: auto;

        padding-top: 2.5px;
        margin-top: 4px;
        margin-bottom: 0;

        font-size: 15px;
        line-height: 23px;
        font-weight: 500;

        //text-transform: uppercase;
        cursor: pointer;
      }

      input[type="checkbox"] {
        position: absolute;
        top: unset;
        left: 0;

        margin-top: 4px;

        background-color: #fff;
        border: 2px solid #000;

        width: 18px;
        height: 18px;

        appearance: none;
        cursor: pointer;
        overflow: hidden;

        transition-property: border, background-color;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;

        &:checked {
          background-color: white;
          border: 9px solid #000;
        }
      }

      //&:hover {
      //  background-color: #ddd;
      //  cursor: pointer;
      //}
    }
  }
}

.list-figure-wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 30px;
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
}

.filter {
  position: sticky;
  top: 100px;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  background-color: #fff;

  min-height: 85vh;
  height: 829px;

  margin-top: 70px;
  padding-bottom: 100px;
  padding-right: 10px;

  border-top: none;

  overflow-y: auto;

  width: 100%;

  z-index: 1;

  scroll-behavior: smooth;
  scrollbar-color: #000 transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
  }
}

.filter-sort {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;

  background-color: #fff;

  margin: 0 auto;

  //z-index: 10;

  .filter-sort-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    //padding-top: 7px;

    width: 100%;

    font-size: 21px;
    line-height: 25px;
    font-weight: 600;
  }
}

.filter-box {
  display: flex;
  flex-direction: row;

  height: 40px;
  width: 100%;

  margin: 10px auto 0;

  //z-index: 51;

  .filter-box-container {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 40px;
    min-height: 40px;
    width: 100%;
    max-width: unset;

    cursor: pointer;

    scroll-behavior: smooth;
    scrollbar-color: #000 transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 5px;
    }
  }
}

.filter-option-holder {
  display: flex;
  width: 100%;

  span {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 2px solid black;

    width: 100%;
    height: 100%;
    min-height: 40px;

    padding: 3px 15px 0;

    font-size: 19px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;

    user-select: none;
  }

  svg {
    position: absolute;
    right: 15px;
    top: 16px;
  }
}

.filter-options-dropdown {
  position: absolute;
  top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  max-height: 135px;
  min-height: 40px;
  width: 100%;

  overflow-y: auto;

  background-color: white;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;

  z-index: 2;
  list-style: none;

  scroll-behavior: smooth;
  scrollbar-color: #000 transparent;
  scrollbar-width: thin;
  user-select: none;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
  }

  li {
    width: 100%;
    height: 35px;
    min-height: 35px;

    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 9px 15px 0 15px;

    margin: auto;

    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }
  }
}

.filter-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;

  margin-top: 20px;
  //padding-top: 2px;
  //border-top: 2px solid black;

  .title {
    color: #757575;

    font-size: 19px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;

    margin-top: 30px;
    width: 100%;

    //&:not(:first-child) {
    //  margin-top: 30px;
    //}
  }

  /*&:not(:first-child) {
    margin-top: 20px;
  }*/
}

.filter-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: 10px;

  word-break: break-word;
  letter-spacing: 1px;

  list-style: none;

  li {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 35px;
    margin-bottom: 12px;

    font-size: 22px;

    min-height: 35px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    label {
      display: flex;
      flex-direction: column;

      height: auto;

      padding-top: 2.5px;
      margin-top: 4px;
      margin-bottom: 0;

      font-size: 16px;
      line-height: 23px;
      font-weight: 500;

      text-transform: uppercase;
    }

    input[type="checkbox"] {
      position: absolute;
      top: unset;
      left: 0;

      background-color: #fff;
      border: 2px solid #000;

      width: 22px;
      height: 22px;

      appearance: none;
      cursor: pointer;
      overflow: hidden;


      transition-property: border, background-color;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;

      &:checked {
        background-color: white;
        border: 11px solid #000;
      }
    }
  }
}

.figure-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  span {
    margin-top: 20px;
    font-size: 19px !important;
    line-height: 28px;
    font-weight: 700;
  }
}

.divider {
  margin-top: 20px;

  background-color: #000;

  height: 2px;
  min-height: 2px;
  width: 100%;
}

.figure-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;

  width: 100%;
  height: auto;

  padding-bottom: 30px;
  margin-top: 20px;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 10px;

  margin-left: auto;
}