@mixin img {
  img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 100%;
    height: 100%;

    pointer-events: none;
    user-select: none;
    object-fit: cover;

    vertical-align: middle;
    border-style: none;
  }
}

.home {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

.browse-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  min-height: 600px;
  padding-top: 120px;
  max-width: 1400px;

  header {
    font-size: 70px;
    line-height: 110px;
    font-weight: 700;
  }
}

.list-figure-wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 30px;
}

.filter {
  position: sticky;
  top: 15vh;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  background-color: #fff;

  min-height: 85vh;
  height: 829px;

  margin-top: 70px;
  padding-bottom: 100px;
  padding-right: 10px;

  border-top: none;

  overflow-y: auto;

  width: 100%;

  z-index: 1;

  scroll-behavior: smooth;
  scrollbar-color: #000 transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
  }
}

.filter-sort {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;

  background-color: #fff;

  margin: 0 auto;

  z-index: 10;

  .filter-sort-title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    //padding-top: 7px;

    width: 100%;

    font-size: 21px;
    line-height: 25px;
    font-weight: 600;
  }
}

.filter-box {
  display: flex;
  flex-direction: row;

  height: 40px;
  width: 100%;

  margin: 10px auto 0;

  .filter-box-container {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 40px;
    min-height: 40px;
    width: 100%;
    max-width: unset;

    cursor: pointer;

    scroll-behavior: smooth;
    scrollbar-color: #000 transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 5px;
    }
  }
}

.filter-option-holder {
  display: flex;
  width: 100%;

  span {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 2px solid black;

    width: 100%;
    height: 100%;
    min-height: 40px;

    padding: 3px 15px 0;

    font-size: 19px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;

    user-select: none;
  }

  svg {
    position: absolute;
    right: 15px;
    top: 16px;
  }
}

.filter-options-dropdown {
  position: absolute;
  top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  max-height: 135px;
  min-height: 40px;
  width: 100%;

  overflow-y: auto;

  background-color: white;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;

  z-index: 2;
  list-style: none;

  scroll-behavior: smooth;
  scrollbar-color: #000 transparent;
  scrollbar-width: thin;
  user-select: none;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
  }

  li {
    width: 100%;
    height: 35px;
    min-height: 35px;

    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 9px 15px 0 15px;

    margin: auto;

    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }
  }
}

.filter-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;

  margin-top: 20px;
  //padding-top: 2px;
  //border-top: 2px solid black;

  .title {
    color: #757575;

    font-size: 19px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;

    margin-top: 30px;
    width: 100%;

    //&:not(:first-child) {
    //  margin-top: 30px;
    //}
  }

  /*&:not(:first-child) {
    margin-top: 20px;
  }*/
}

.filter-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: 10px;

  word-break: break-word;
  letter-spacing: 1px;

  list-style: none;

  li {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 35px;
    margin-bottom: 12px;

    font-size: 22px;

    min-height: 35px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    label {
      display: flex;
      flex-direction: column;

      height: auto;

      padding-top: 2.5px;
      margin-top: 4px;
      margin-bottom: 0;

      font-size: 16px;
      line-height: 23px;
      font-weight: 500;

      text-transform: uppercase;
    }

    input[type="checkbox"] {
      position: absolute;
      top: unset;
      left: 0;

      background-color: #fff;
      border: 2px solid #000;

      width: 22px;
      height: 22px;

      appearance: none;
      cursor: pointer;
      overflow: hidden;


      transition-property: border, background-color;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;

      &:checked {
        background-color: white;
        border: 11px solid #000;
      }
    }

    //.span-checkbox {
    //  position: absolute;
    //  top: unset;
    //  left: 0;
    //
    //  display: flex;
    //  flex-direction: column;
    //  justify-content: center;
    //  align-items: center;
    //
    //  background-color: #fff;
    //  border: 2px solid #000;
    //
    //  width: 22px;
    //  height: 22px;
    //
    //  overflow: hidden;
    //  cursor: pointer;
    //
    //  transition-property: border, background-color;
    //  transition-duration: 200ms;
    //  transition-timing-function: ease-in-out;
    //}
    //
    //input[type="checkbox"]:checked + .span-checkbox, input[type="checkbox"]:checked ~ .span-checkbox {
    //  background-color: white;
    //  border: 11px solid #000;
    //}
  }
}

.figure-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  span {
    margin-top: 20px;
    font-size: 19px !important;
    line-height: 28px;
    font-weight: 700;
  }
}

.divider {
  margin-top: 20px;

  background-color: #000;

  height: 2px;
  min-height: 2px;
  width: 100%;
}

.figure-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;

  width: 100%;
  height: auto;

  padding-bottom: 30px;
  margin-top: 20px;
}

.figure {
  display: flex;
  flex-direction: column;

  color: #000;

  height: auto;
  width: 100%;

  text-decoration: none;

  overflow-y: hidden;

  cursor: pointer;

  span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    min-height: 40px;

    font-size: 19px;
    line-height: 20px;
    font-weight: 600;

    margin-top: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    .figure-image-hover {
      opacity: 1;
      visibility: visible;
    }
  }
}

.poster-container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #F1F1F1;

  width: 100%;
  height: auto;

  padding-top: 140%;

  user-select: none;
  transition: opacity 125ms ease-out, background-color 125ms ease-out;

  .inner-poster-container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    div {
      width: 100%;
      height: 100%;

      background-color: #C6C6C6;

      overflow: hidden;
    }
  }
}

.figure-image {
  @include img
}

.figure-image-hover {
  position: absolute;
  inset: 0;

  margin: 0;
  opacity: 0;

  visibility: hidden;
  z-index: 1;

  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include img
}

.pagination {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 10px;

  margin-left: auto;
}